
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /* https://coolors.co/031926-81667a-d5f2e3-3f6c51-ffffff */
    --primary-color: #3f6c51;
    --secondary-color: #d5f2e3;
    --accent1-color: #81667a;
    --accent2-color: #fff;

    --heading-font: "Istok Web", Helvetica;
    --paragraph-font: Inter, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}
p, a, li, label, input, textarea, button {
    font-family: var(--paragraph-font);
}
body {
    background-image: linear-gradient(#00000020, #00000080), url(../images/background.jpg); /* start with gradient from faint to dark */
    background-blend-mode: color-burn; /* use darkness of overlaid colors */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body .content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 120px;
    padding-bottom: 160px;
    background-color: var(--accent2-color);
    border: 2px solid var(--accent1-color);
    box-shadow: 5px 5px 10px #000;
}
header {
    border: 1px solid var(--accent1-color);
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav > * {
    display: inline-flex;
}
header nav img {
    height: 80px;
    margin-left: 40px;
}
header nav .nav-buttons {
    display: flex;
}
.button-small a {
    display: inline-flex;
    height: 50px;
    margin: auto 20px;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid var(--accent1-color);
    background-color: var(--secondary-color);
    text-decoration: none;
}
.button-small a:hover {
    background-color: var(--accent2-color);
    transform: scale(1.05);
}
header nav .button-small a {
    margin-left: 0;
    margin-right: 40px;
}
.home-feature {
    display: flex;
    width: 80%;
    margin: 85px auto;
}
.home-feature img {
    height: 240px;
}
.home-feature section {
    margin: 0 auto 0 50px;
}
.home-feature section p, .home-feature section ul {
    margin: 8px 0;
}
.button-large a {
    display: flex;
    height: 60px;
    margin: 15px 0;
    padding: 5px 0;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--accent1-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    font-size: larger;
}
.button-large a:hover {
    background-color: var(--accent2-color);
    transform: scaleY(1.05);
}
.projects-content > section {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 60px;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* 1fr by default is minmax(auto, 1fr) to never be smaller than its content */
    margin: 10px 80px;
    gap: 60px;
}
img.modal-button {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid var(--accent1-color);
    border-radius: 5px;
}
img.modal-button:hover {
    transform: scale(1.05);
    filter: opacity(90%);
}
img.modal-button.placeholder {
    filter: grayscale(100%) blur(2px);
}
img.modal-button.placeholder:hover {
    transform: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: #00000066;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid var(--accent1-color);
    width: 75%;
    animation-name: zoom;
    animation-duration: 0.2s;
}
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.modal-header {
    background-color: var(--primary-color);
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.close {
    color: var(--accent2-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 0 10px;
    margin-right: 8px;
}
.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.modal-main {
    margin: 30px 25px 40px;
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    column-gap: 40px;
}
.hovered-box {
    background-color: #aaa;
    padding: 15px 25px;
}
.hovered-box > * {
    box-shadow: 5px 5px 10px #000;
    width: 100%;
    object-fit: contain;
}
.modal-main section {
    width: 100%;
    margin-right: 35px;
}
.modal-main a {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}
.about-feature {
    display: grid;
    grid-template-columns: auto auto;
    width: 75%;
    margin: 85px auto 70px;
    column-gap: 60px;
}
.about-feature img {
    height: 240px;
    margin: 0 auto;
}
.about-feature img.icon {
    height: auto;
    margin-top: 30px;
}
.about-feature p {
    margin-right: 80px;
}
.form-container {
    display: flex;
    width: 75%;
    margin: 40px auto;
    border: 2px solid var(--accent1-color);
    padding: 25px;
    box-sizing: border-box;
    column-gap: 15px;
    border-radius: 5px;
}
.form-container img {
    width: auto;
    height: 100%;
}
form {
    display: inline-block;
    margin: 0 10px;
    width: 100%;
}
form h4 {
    margin-top: 0;
}
form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
form li + li { /* selects only li elements after 1st li */
    margin-top: 20px;
}
form label {
    display: inline-block;
    min-width: 80px;
    text-align: right;
}
form input, form textarea {
    width: calc(100% - 120px);
    border: 1px solid var(--accent1-color);
}
form textarea {
    vertical-align: top;
    height: 60px;
}
form button {
    margin-left: 80px;
}
#form-notification {
    background-color: antiquewhite;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    display: none;
    font-family: var(--paragraph-font);
    animation-name: zoom;
    animation-duration: 0.2s;
}
.move-down {
    margin-top: 50px;
}
.about-content > a {
    display: block;
    text-align: center;
    margin: 40px auto;
}
.bonus-img {
    display: block;
    margin: 160px auto 40px;
    height: 140px;
}

@media screen and (max-width: 700px) {
    body .content {
        width: 98%;
    }
    header nav img {
        margin-left: 20px;
        margin-right: 20px;
    }
    header nav .button-small a {
        margin-right: 20px;
    }
    .home-feature {
        flex-direction: column;
        margin: 45px auto;
    }
    .home-feature img {
        height: auto;
        width: 160px;
        margin: 0 auto;
    }
    .home-feature section {
        margin: 35px auto;
    }
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .modal-content {
        margin: 10% auto;
        width: 90%;
    }
    .modal-main {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .hovered-box {
        padding: 15px 5px;
    }
    .about-feature {
        grid-template-columns: auto;
        row-gap: 40px;
    }
    .about-feature img {
        margin-bottom: 40px;
    }
    .about-feature p {
        margin-right: auto;
    }
    .about-feature img.icon {
        display: none;
    }
    .form-container img {
        position: absolute;
        height: auto;
    }
    .form-container form h4 {
        margin-top: 2px;
        margin-left: 70px;
    }
    .form-container form ul {
        margin-top: 40px;
    }
    form label {
        display: block;
        min-width: 0;
        text-align: left;
    }
    form input, form textarea {
        width: calc(100% - 20px);
    }
    form button {
        display: block;
        margin: 30px auto 10px;
    }
}