/* * {
    border: 2px solid blue;
} */
body {
    margin: 0;
}
nav {
    background-color: steelblue;
    color: white;
    padding: 25px;
    text-align: center;
}
a {
    /* 120% of text size of <nav>'s inherited default 16px: */
    font-size: 1.2em;
    color: white;
    padding: 25px;
    
}
a:hover {
    background-color: white;
    color: steelblue;
}
h1 {
    text-align: center;
    margin: 50px 0;
}
main img {
    width: 80%;
    /* min-width: 800px; */
    /* % will stretch on square or rectangle: */
    border-radius: 2px;
    display: block;
    /* auto spacing on each side: */
    margin: 0 auto;
    border: 4px solid steelblue;
}
main p { /* paragraphs inside of main */
    width: 78%;
    margin: 40px auto; /* to center container, as opposed to text-align: center */
}
footer {
    background-color: steelblue;
    color: white;
    text-align: center;
    margin: 20px auto;
}
footer p {
    padding: 25px;
    font-size: 20px;
}